# ignore models
*.pt

# ignore videos
*.mp4
*.avi
videos/
runs/detect/predict/
runs/detect/predict?/
runs/detect/track/
runs/detect/track?/

# ignore archived results
archive/

# ignore dataset
Sam-Barrett-?/
Sam-Barrett-??/